@import 'post.module';

@media screen and (min-width: 768px) {
  .post {
    &__cover {
      margin-bottom: 4rem;
    }

    &__footer {
      display: flex;

      &__left {
        width: 50%;
      }

      &__right {
        width: 50%;
      }
    }

    &__title {
      font-size: 2.5rem;
      line-height: 1.2;
      font-weight: inherit;
      margin-bottom: 1rem;

      &__link {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__date {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }

    &__excerpt {
      font-size: 1.125rem;
      line-height: 1.625;
      margin-bottom: 1rem;
    }
  }
}