.logo {
  letter-spacing: -0.04em;
  line-height: 2.5rem;
  font-size: 2.25rem;
  font-weight: 700;

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &_home {
    line-height: 1.2;
    font-size: 2.5rem;

    @media screen and (min-width: 768px) {
      font-size: 6.25rem;
    }
  }
}