@import "@/styles/variables";

.header {
  background: $primary-color;
  margin: auto;
  border-bottom: 1px solid $secondary-color;

  &__text {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &__link {
    &:hover {
      color: $accent-color;
    }
  }
}